.vs
obj
mersetaWebAPI/mersetaWebAPI/.vs/mersetaWebAPI/v17/.suo
.vs/slnx.sqlite
.vs/NsdmsWebApi/v17/.suo
.vs/NsdmsWebApi/v17/.suo
.vs/slnx.sqlite
mersetaWebAPI/mersetaWebAPI/.vs/mersetaWebAPI/FileContentIndex/08826664-b911-4516-8101-ebb225791a02.vsidx
mersetaWebAPI/mersetaWebAPI/.vs/mersetaWebAPI/v17/.suo
mersetaWebAPI/mersetaWebAPI/.vs/ProjectEvaluation/mersetawebapi.projects.v2
mersetaWebAPI/mersetaWebAPI/mersetaWebAPI/obj/Debug/net6.0/mersetaWebAPI.assets.cache
mersetaWebAPI/mersetaWebAPI/mersetaWebAPI/obj/Debug/net6.0/mersetaWebAPI.GeneratedMSBuildEditorConfig.editorconfig
mersetaWebAPI/mersetaWebAPI/mersetaWebAPI/obj/Release/net6.0/mersetaWebAPI.assets.cache
.vs/NsdmsWebApi/v17/workspaceFileList.bin
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
mersetaWebAPI/mersetaWebAPI/.vs/mersetaWebAPI/DesignTimeBuild/.dtbcache.v2
mersetaWebAPI/mersetaWebAPI/.vs/mersetaWebAPI/v17/.futdcache.v1
mersetaWebAPI/mersetaWebAPI/.vs/mersetaWebAPI/v17/.suo
mersetaWebAPI/mersetaWebAPI/.vs/mersetaWebAPI/v17/fileList.bin
mersetaWebAPI/mersetaWebAPI/.vs/ProjectEvaluation/mersetawebapi.metadata.v2
.vs/NsdmsWebApi/v17/.suo
.vs/slnx.sqlite
mersetaWebAPI/mersetaWebAPI/.vs/mersetaWebAPI/v17/.suo
mersetaWebAPI/mersetaWebAPI/mersetaWebAPI/obj/Release/net6.0/mersetaWebAPI.assets.cache
mersetaWebAPI/mersetaWebAPI/mersetaWebAPI/obj/staticwebassets.pack.sentinel
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
mersetaWebAPI/mersetaWebAPI/.vs/mersetaWebAPI/v17/.suo
.vs/NsdmsWebApi/v17/.suo
.vs/slnx.sqlite
mersetaWebAPI/mersetaWebAPI/mersetaWebAPI/obj/staticwebassets.pack.sentinel
mersetaWebAPI/mersetaWebAPI/.vs/mersetaWebAPI/config/applicationhost.config
mersetaWebAPI/mersetaWebAPI/.vs/mersetaWebAPI/v17/.futdcache.v1
mersetaWebAPI/mersetaWebAPI/.vs/mersetaWebAPI/v17/fileList.bin
mersetaWebAPI/mersetaWebAPI/mersetaWebAPI/bin/Debug/net6.0/mersetaWebAPI.dll
mersetaWebAPI/mersetaWebAPI/mersetaWebAPI/bin/Debug/net6.0/mersetaWebAPI.pdb
mersetaWebAPI/mersetaWebAPI/mersetaWebAPI/Controllers/AssessmentsController.cs
mersetaWebAPI/mersetaWebAPI/mersetaWebAPI/Implementation/AssessmentService.cs
mersetaWebAPI/mersetaWebAPI/mersetaWebAPI/Interface/IAssessment.cs
mersetaWebAPI/mersetaWebAPI/mersetaWebAPI/obj/Debug/net6.0/mersetaWebAPI.assets.cache
mersetaWebAPI/mersetaWebAPI/mersetaWebAPI/obj/Debug/net6.0/mersetaWebAPI.csproj.AssemblyReference.cache
mersetaWebAPI/mersetaWebAPI/mersetaWebAPI/obj/Debug/net6.0/mersetaWebAPI.csproj.CoreCompileInputs.cache
mersetaWebAPI/mersetaWebAPI/mersetaWebAPI/obj/Debug/net6.0/mersetaWebAPI.csproj.FileListAbsolute.txt
mersetaWebAPI/mersetaWebAPI/mersetaWebAPI/obj/Debug/net6.0/mersetaWebAPI.dll
mersetaWebAPI/mersetaWebAPI/mersetaWebAPI/obj/Debug/net6.0/mersetaWebAPI.GeneratedMSBuildEditorConfig.editorconfig
mersetaWebAPI/mersetaWebAPI/mersetaWebAPI/obj/Debug/net6.0/mersetaWebAPI.genruntimeconfig.cache
mersetaWebAPI/mersetaWebAPI/mersetaWebAPI/obj/Debug/net6.0/mersetaWebAPI.pdb
mersetaWebAPI/mersetaWebAPI/mersetaWebAPI/obj/Debug/net6.0/ref/mersetaWebAPI.dll
mersetaWebAPI/mersetaWebAPI/mersetaWebAPI/obj/Debug/net6.0/refint/mersetaWebAPI.dll
mersetaWebAPI/mersetaWebAPI/mersetaWebAPI/obj/mersetaWebAPI.csproj.nuget.dgspec.json
mersetaWebAPI/mersetaWebAPI/mersetaWebAPI/obj/mersetaWebAPI.csproj.nuget.g.props
mersetaWebAPI/mersetaWebAPI/mersetaWebAPI/obj/project.assets.json
mersetaWebAPI/mersetaWebAPI/mersetaWebAPI/obj/project.nuget.cache
mersetaWebAPI/mersetaWebAPI/mersetaWebAPI/obj/staticwebassets.pack.sentinel
